# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = recipe_scraper.settings

[deploy]
#url = http://localhost:6800/
project = allrecipes

#cd /Users/HelenWang/OneDrive/theDataIncubator/git/capstone
#scrapy crawl recipe_spider --set JOBDIR=saved/craw1
#response.xpath('//div[@class="summary-stats-box"]/div[@class="total-made-it"]').css("div.total-made-it").extract()
#Copy recipes To '/Users/HelenWang/OneDrive/theDataIncubator/capstone/recipes.csv' DELIMITER ',' CSV HEADER;